@page "/"

<PageTitle>Willkommen</PageTitle>

<h1>Willkommen bei der Flomi-Anmeldung</h1>

Hallo Liebe Flomi Freunde

Besten Dank das du dich als Helfer/in, Sortierer/in, Verkäufer/in für den Pfadi Flomi anmelden möchtest.

Eine kleine Erklärung für dich

Das Formular führt dich durch die nächsten Schritte. Je nach dem was du auswählst verhält sich das Formular anders. z.B. Wenn du gerne Verkaufen möchtest, hast du keine Auswahlmöglichkeit auf der Seite Festwirtschaft, sprich die Seite wird für dich nicht angezeigt.

Insgesamt führt dich diese Anmeldung maximal über sieben Seiten. Die Felder mit einem roten Stern (*) sind Pflichtfelder und du musst sie ausfüllen um zum nächsten Schritt zu kommen. Die Pflichtfelder werden, je nach dem was du auswählst, dynamisch erstellt.
Neben jeder Auswahlmöglichkeit siehst du wie viele Personen wir noch für die jeweilige Tätigkeit suchen. Wenn bei deinem Lieblingsbereich bereits "Ausgebucht" steht, suche dir doch einen anderen spannenden Bereich, oder kontaktiere mich, wir finden eine Lösung :)

Das Formular ist in folgende Bereiche aufegteilt.

Nun wünsche ich dir viel Spass beim Ausfüllen und bedanke mich schon im Voraus recht herzlich für deine Unterstützung.

Los gehts

